USE [master]
GO
/****** Object:  Database [POS]    Script Date: 7/15/2023 5:02:47 PM ******/
CREATE DATABASE [POS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\POS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\POS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS]
GO
/****** Object:  Table [dbo].[BAR_CONFIG]    Script Date: 7/15/2023 5:02:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAR_CONFIG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UPC] [varchar](50) NOT NULL,
	[SKU] [varchar](50) NOT NULL,
	[lotid] [int] NOT NULL,
	[user_id] [int] NULL,
	[unique_id] [uniqueidentifier] NOT NULL,
	[status] [int] NOT NULL,
	[dt_crtd] [date] NOT NULL,
	[dt_modf] [date] NULL,
 CONSTRAINT [PK_BAR_CONFIG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 7/15/2023 5:02:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descr] [varchar](50) NOT NULL,
	[user_id] [int] NULL,
	[unique_id] [uniqueidentifier] NOT NULL,
	[status] [int] NOT NULL,
	[dt_crtd] [date] NOT NULL,
	[dt_modf] [date] NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACTIVITY]    Script Date: 7/15/2023 5:02:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACTIVITY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[action] [varchar](100) NOT NULL,
	[rec_affected] [varchar](50) NOT NULL,
	[entity_affected] [varchar](50) NOT NULL,
	[ipaddress] [varchar](50) NULL,
	[unique_id] [uniqueidentifier] NOT NULL,
	[status] [int] NOT NULL,
	[dt_crtd] [date] NOT NULL,
	[dt_modf] [date] NULL,
 CONSTRAINT [PK_USER_ACTIVITY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 7/15/2023 5:02:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](70) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[pwd] [varchar](50) NOT NULL,
	[roleid] [int] NOT NULL,
	[user_id] [int] NULL,
	[unique_id] [uniqueidentifier] NOT NULL,
	[status] [int] NOT NULL,
	[dt_crtd] [date] NOT NULL,
	[dt_modf] [date] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_BAR_CONFIG]    Script Date: 7/15/2023 5:02:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_BAR_CONFIG] ON [dbo].[BAR_CONFIG]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAR_CONFIG] ADD  CONSTRAINT [DF_BAR_CONFIG_unique_id]  DEFAULT (newid()) FOR [unique_id]
GO
ALTER TABLE [dbo].[BAR_CONFIG] ADD  CONSTRAINT [DF_BAR_CONFIG_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[BAR_CONFIG] ADD  CONSTRAINT [DF_BAR_CONFIG_dt_crtd]  DEFAULT (getdate()) FOR [dt_crtd]
GO
ALTER TABLE [dbo].[ROLE] ADD  CONSTRAINT [DF_ROLE_unique_id]  DEFAULT (newid()) FOR [unique_id]
GO
ALTER TABLE [dbo].[ROLE] ADD  CONSTRAINT [DF_ROLE_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[ROLE] ADD  CONSTRAINT [DF_ROLE_dt_crtd]  DEFAULT (getdate()) FOR [dt_crtd]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_unique_id]  DEFAULT (newid()) FOR [unique_id]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_dt_crtd]  DEFAULT (getdate()) FOR [dt_crtd]
GO
ALTER TABLE [dbo].[BAR_CONFIG]  WITH CHECK ADD  CONSTRAINT [FK_BAR_CONFIG_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[BAR_CONFIG] CHECK CONSTRAINT [FK_BAR_CONFIG_USERS]
GO
ALTER TABLE [dbo].[ROLE]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[ROLE] CHECK CONSTRAINT [FK_ROLE_USERS]
GO
ALTER TABLE [dbo].[USER_ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACTIVITY_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[USER_ACTIVITY] CHECK CONSTRAINT [FK_USER_ACTIVITY_USERS]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_ROLE] FOREIGN KEY([roleid])
REFERENCES [dbo].[ROLE] ([id])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_ROLE]
GO
USE [master]
GO
